.Experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    &__title{
        color: white;
        font-size: 2.2rem;
        padding: 40px;
    }
.timeline {
	background: rgba(0, 0, 0, 0.2);
	margin: 20px auto;
	padding: 20px;
}
.card {
	position: relative;
	max-width: 600px;
	&:nth-child(odd) {
		padding: 30px 0 30px 30px;
		&::before {
			left: 0px;
			top: -4.5px;
			bottom: -4.5px;
			border-width: 5px 0 5px 5px;
			border-radius: 50px 0 0 50px;
		}
		>.info {
			>.title {
				&::before {
					left: -45px;
				}
			}
		}
	}
	&:nth-child(even) {
		padding: 30px 30px 30px 0;
		&::before {
			right: 0;
			top: 0;
			bottom: 0;
			border-width: 5px 5px 5px 0;
			border-radius: 0 50px 50px 0;
		}
		>.info {
			>.title {
				text-align: right;
				&::before {
					right: -45px;
				}
			}
		}
	}
	&::before {
		content: "";
		position: absolute;
		width: 50%;
		border: solid rgb(224, 195, 34);;
	}
	&:first-child {
		&::before {
			border-top: 0;
			border-top-left-radius: 0;
		}
	}
	&:last-child {
		&:nth-child(odd) {
			&::before {
				border-bottom: 0;
				border-bottom-left-radius: 0;
			}
		}
		&:nth-child(even) {
			&::before {
				border-bottom: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
.info {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.2);
	color: gray;
	border-radius: 10px;
	padding: 10px;
	h4{
		margin: 0;
		color: white;
	}
	p{
		a{
			text-decoration: underline;
			color: rgb(224, 195, 34);
			&:hover{
				color: rgb(121 106 20);;
			}
		}
	}
}
.title {
	color: rgb(224, 195, 34);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 999px;
		border: 3px solid rgb(224, 195, 34);;
	}
}

}