.Footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #1c1e24;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 2.5rem 0rem;
    color: rgba(235, 240, 255, 0.5);

    &__socialmedia {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;

        .img {}
    }
}