.Footer{
    background: #1c1e24;
    border-top: 1px solid hsla(0,0%,100%,0.1);
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 3rem 0;
}