.Presentation{
    height: auto;
    margin: auto;
    padding: 2rem;
    &__img{
        border: 1px solid hsla(0,0%,100%,0.1);;
        border-radius: 8px;
        height: auto;
    }
    &__title{
        text-align: left;
        max-width: 550px;
        h1{
            color: #eee;
            font-size: 2.25rem;
        }
        p{
            font-size: 1.2rem;
            color: #d0d5df;
        }
    }
}

@media only screen and (min-width: 850px) {
    .Presentation {
        display: flex;
    justify-content: space-between;
         &__img{
         }
    }
  }