.Presentation {
    height: auto;
    margin: auto;
    padding: 6rem 2rem;

    &__img {
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        border-radius: 8px;
        height: auto;
    }
    &__svg{
		width: 280px;
		height: 260px;
        margin-top: 30px;
		svg{
			width: 80%;
			height: 80%;
		}
    }

    &__title {
        text-align: left;
        max-width: 650px;

        h1 {
            color: #fff;
            font-size: 3.25rem;
        }

        p {
            font-size: 1.4rem;
            color: #d0d5df;
        }
    }
}

@media only screen and (min-width: 850px) {
    .Presentation {
        display: flex;
        justify-content: space-between;

        &__img {}
        &__title {
            text-align: left;
            max-width: 450px;
        }
        &__svg{
            width: 410px;
            height: 350px;
            margin-top: 100px;
            svg{
                width: 80%;
                height: 80%;
            }
        }
    }
}