.Projects {
  margin: 80px 0px;

  &__title {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2.3rem;
      line-height: 1.2;
      color: #eee;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 1.25rem;
      color: rgba(235, 240, 255, 0.5);
      line-height: 1.4;
      margin-bottom: 0;

      a {
        border-top: 2px solid transparent;
        color: #ffffff;
        font-weight: 600;
        border-bottom: 2px solid rgb(224, 195, 34);

        &:hover {
          background-color: rgb(224, 195, 34);
        }
      }
    }
  }

  &__cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 1rem;
  }
}